.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    bottom: -240px;
}

.contactsContainerRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.contactsContainerRow {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .contactsContainer {
        position: initial;
    }

    .contactsContainerRow {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

}